<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Redis-specific logging -->
    <logger name="org.springframework.data.redis" level="DEBUG"/>
    <logger name="io.lettuce.core" level="DEBUG"/>
    <logger name="com.craftpilot.redis" level="DEBUG"/>
    <logger name="com.craftpilot.userservice.config.RedisConfiguration" level="DEBUG"/>
    
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>