<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot base şablonunu içe aktar, ancak appender'ları almadan -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <!-- Define common pattern for all appenders -->
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>
    
    <!-- Configure JSON format for production environments -->
    <springProfile name="prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdc>true</includeMdc>
                <includeLevelValue>true</includeLevelValue>
                <timeZone>UTC</timeZone>
                <includeCaller>true</includeCaller>
                <includeContext>true</includeContext>
                <customFields>{"app":"user-service"}</customFields>
            </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE" />
        </root>
    </springProfile>
    
    <!-- Configure standard pattern for dev environments -->
    <springProfile name="dev,default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    
    <!-- Configuring log levels for specific packages -->
    <logger name="com.craftpilot" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    
    <!-- Spring Cloud loglarını azalt -->
    <logger name="org.springframework.cloud" level="WARN" />
    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker" level="ERROR" />
    <logger name="com.netflix" level="WARN" />
    
    <!-- Repository ayarlarıyla ilgili loglama bilgilerini azalt -->
    <logger name="org.springframework.data.repository.config" level="WARN" />
    <logger name="org.springframework.data.repository.config.RepositoryConfigurationExtensionSupport" level="ERROR" />
    
    <!-- Diğer paket düzeyinde loglar -->
    <logger name="org.springframework.data.mongodb" level="WARN" />
    <logger name="org.springframework.data.redis" level="WARN" />
    <logger name="org.springframework.kafka" level="INFO" />
    <logger name="org.springframework.kafka.config" level="DEBUG" />
    <logger name="org.springframework.kafka.core" level="DEBUG" />
    <logger name="com.craftpilot.userservice.config" level="DEBUG" />
    <logger name="io.lettuce" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="reactor.netty" level="WARN" />
    <logger name="org.mongodb.driver" level="WARN" />
    
    <!-- MongoDB sürücüsü için client detaylarını sınırla -->
    <logger name="org.mongodb.driver.client" level="WARN" />
    <logger name="org.mongodb.driver.cluster" level="INFO" />
    
    <!-- Develop ortamında redis-client-lib için debug logları etkinleştir -->
    <springProfile name="dev">
        <logger name="com.craftpilot.redis" level="DEBUG" />
    </springProfile>
</configuration>